<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <% include ../common/head.ejs %>
</head>
<body>
    <header>
        <% include ../common/navbar.ejs %>
    </header>
    <main>
        <div class="container py-4">
            <h1 class="display-4 text-center">Movies List</h1>
            <div class="row d-flex align-items-center justify-content-center">
              <% resultList.forEach(movie => { %>
              <div class="p-4">
                  <div class="card" style="width: 18rem;">
                     <div class="card-body text-center">
                      <h5 class="card-title"><%= movie.title %></h5>
                      <p class="card-text date"><%- movie.release_date.slice(0, 4) %></p>
                      <p class="card-text gender"><%- movie.gender %></p>
                      <p class="card-text description pb-3"><%- movie.description %></p>
                      <div class="buttony d-flex justify-content-around">
                        <div class="d-block">
                          <a href="/movies/editMovie/<%= movie.id_movie %>"
                             class="btn btn-primary">Modify</a>
                        </div>
                        <div class="d-block">
                          <a href="/movies/removeMovie/<%= movie.id_movie %>"
                             class="btn btn-danger">Delete</a>
                        </div> 
                      </div>
                    </div>
                  </div>
              </div>
              <% }); %>
            </div>
          </div>
    </main>
    <% include ../common/footer.ejs %>
</body>
</html>